{% extends "base.html" %} {% block template %}
<a class="navbar-brand" href="#">Tools</a> {% endblock %} {% block content %} {% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }} </li>
    {% endfor %}
</ul>
{% endif %} {% endwith %}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <a href="#" data-target="#sqlintf" data-toggle="modal"><i class="ti-server" ></i></a>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>SQL</p>
                                    Interface
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">

                                    <a href="#" data-target="#createtable" data-toggle="modal"><i class="ti-wallet" style = " color : #7AC29A" ></i></a>

                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Create</p>
                                    Table
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">

                                    <a href="#" data-target="#dbsearch" data-toggle="modal"><i class="ti-pencil" style = "color: #EB5E28" ></i></a>

                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Database</p>
                                    Search
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">

                                    <a href="#" data-target="#kmean" data-toggle="modal"><i class="ti-shift-right" ></i></a>

                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Fuzzy</p>
                                    Search
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!--row ends here-->
</div>



<!-- SQL interface modal config -->
<div class="modal fade" id="sqlintf" tabindex="-1" role="dialog" aria-labelledby="sqlintf" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="sqlintf">SQL interface</h4>
            </div>
            <div class="modal-body">

                <form action="" method="post" name="sqlintf">
                    {{ sqlform.hidden_tag() }}
                    <p>
                        Enter SQL query:<br> {{ sqlform.query(size=55) }}<br>
                    </p>
                    <p><input type="submit" value="Execute"></p>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info btn-simple">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Create Table modal config -->
<div class="modal fade" id="createtable" tabindex="-1" role="dialog" aria-labelledby="tableintf" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="tableintf">Create Table</h4>
            </div>
            <div class="modal-body">

                <form action="" method="post" name="replacenull">
                    {{ ctableform.hidden_tag() }}
                    <p>
                        Table name: {{ ctableform.tablename(size=40)}}<br>
            
                        Column name: {{ ctableform.columnn(size=40) }}<br>
                
                        Datatype: {{ ctableform.datatype }}<br>

                        Not Null: {{ ctableform.notnull }}<br>

                        Primary Key: {{ ctableform.pkey }}<br>
                    </p>
                    <p><input type="submit" value="Execute"></p>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info btn-simple">Save</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}